@model SistemaDeVendas.Models.Categories

@{
    ViewData["Title"] = $"Excluir {Model.Name}";
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />    
</head>
<body>

    <h3>Tem certeza que deseja excluir a categoria <strong>@Model.Name</strong>?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Sim" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Não</a>
    </form>
</div>
</body>
</html>
